@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold.woff2') format('woff2'),
    url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* =========== Common styles =========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: #0c0c0c;
  background-color: #fbfbfb;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 335px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;
  }
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}

/* =========== /Common styles =========== */

/* =========== Page Header styles =========== */
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

@media only screen and (max-width: 1279px) {
  .menu,
  .social {
    display: none;
  }

  .page-header {
    padding: 20px 0;
  }

  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #0c0c0c;
  }

  .menu-open-btn-icon {
    width: 34px;
    height: 34px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .page-header {
    padding: 26px 0;
  }

  .menu-open-btn-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .menu,
  .social {
    display: flex;
  }

  .menu-open-btn {
    display: none;
  }
}
