@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-ExtraboldItalic.eot');
  src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
    url('Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-ExtraboldItalic.woff2') format('woff2'),
    url('Gilroy-ExtraboldItalic.woff') format('woff'),
    url('Gilroy-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
    url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Black.woff2') format('woff2'),
    url('Gilroy-Black.woff') format('woff'),
    url('Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Light.woff2') format('woff2'),
    url('Gilroy-Light.woff') format('woff'),
    url('Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold.woff2') format('woff2'),
    url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-MediumItalic.woff2') format('woff2'),
    url('Gilroy-MediumItalic.woff') format('woff'),
    url('Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
    url('Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-BlackItalic.woff2') format('woff2'),
    url('Gilroy-BlackItalic.woff') format('woff'),
    url('Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-UltraLight.woff2') format('woff2'),
    url('Gilroy-UltraLight.woff') format('woff'),
    url('Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-RegularItalic.woff2') format('woff2'),
    url('Gilroy-RegularItalic.woff') format('woff'),
    url('Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-SemiboldItalic.eot');
  src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
    url('Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-SemiboldItalic.woff2') format('woff2'),
    url('Gilroy-SemiboldItalic.woff') format('woff'),
    url('Gilroy-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
    url('Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-HeavyItalic.woff2') format('woff2'),
    url('Gilroy-HeavyItalic.woff') format('woff'),
    url('Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Extrabold.woff2') format('woff2'),
    url('Gilroy-Extrabold.woff') format('woff'),
    url('Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
    url('Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-BoldItalic.woff2') format('woff2'),
    url('Gilroy-BoldItalic.woff') format('woff'),
    url('Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
    url('Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-UltraLightItalic.woff2') format('woff2'),
    url('Gilroy-UltraLightItalic.woff') format('woff'),
    url('Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
    url('Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-LightItalic.woff2') format('woff2'),
    url('Gilroy-LightItalic.woff') format('woff'),
    url('Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Heavy.woff2') format('woff2'),
    url('Gilroy-Heavy.woff') format('woff'),
    url('Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
    url('Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Thin.woff2') format('woff2'),
    url('Gilroy-Thin.woff') format('woff'),
    url('Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
    url('Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-ThinItalic.woff2') format('woff2'),
    url('Gilroy-ThinItalic.woff') format('woff'),
    url('Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* =========== Common styles =========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: #0c0c0c;
  background-color: #fbfbfb;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}

/* =========== /Common styles =========== */

/* =========== Page Header styles =========== */
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

@media only screen and (max-width: 1279px) {
  .menu,
  .social {
    display: none;
  }

  .page-header {
    padding: 20px 0;
  }

  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #0c0c0c;
  }

  .menu-open-btn-icon {
    width: 34px;
    height: 34px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .page-header {
    padding: 26px 0;
  }

  .logo {
    font-size: 20px;
  }

  .menu-open-btn-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .logo {
    font-size: 20px;
  }

  .menu-open-btn {
    display: none;
  }

  .page-nav {
    display: flex;
    width: 820px;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    display: block;
    padding-top: 30px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
  }

  .menu-link.active {
    position: relative;
  }

  .menu-link.active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3350e9;
  }

  .social {
    display: flex;
    gap: 10px;
  }

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    line-height: 0;
    fill: #0c0c0c;
    transition: fill 250ms linear, border 250ms linear;
  }

  .social-link:hover,
  .social-link:focus {
    fill: #3350e9;
    border: 1px solid rgba(51, 80, 233, 0.1);
  }
}
/* =========== /Page Header styles =========== */

/* =========== Hero Section styles =========== */
.hero {
  padding-top: 60px;
}

.hero-top-block {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  margin-bottom: 28px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.accent-color {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-second-block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero-reviews-list {
  display: flex;
  position: relative;
}

.hero-reviews-list-item {
  width: 44px;
  height: 44px;
}

.hero-reviews-list-item:nth-child(3n + 2) {
  position: absolute;
  top: 0;
  left: 32px;
}

.hero-reviews-list-item:nth-child(3n + 3) {
  position: absolute;
  top: 0;
  left: 64px;
}

.scroll-down-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  transition: color 250ms linear;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #3350e9;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
  }

  .hero-top-block {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .hero-text-block {
    max-width: 557px;
    margin-right: auto;
  }

  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-text {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-second-block {
    width: 136px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .hero-reviews-list-item {
    width: 56px;
    height: 56px;
  }

  .hero-reviews-list-item:nth-child(3n + 2) {
    left: 41px;
  }

  .hero-reviews-list-item:nth-child(3n + 3) {
    left: 80px;
  }

  .scroll-down-link {
    align-self: flex-end;
    font-size: 20px;
    line-height: 1;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-text-block {
    max-width: 597px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 0.88;
  }

  .hero-second-block {
    width: 146px;
  }

  .hero-reviews-list-item,
  .hero-reviews-avatar {
    width: 60px;
    height: 60px;
  }

  .hero-reviews-list-item:nth-child(3n + 2) {
    left: 44px;
  }

  .hero-reviews-list-item:nth-child(3n + 3) {
    left: 86px;
  }
}
/* =========== /Hero Section styles =========== */

/* =========== About Us Section styles =========== */
.about-us {
  padding-top: 60px;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about-us-text-block {
  padding: 40px 20px;
  background-color: #f3f3f3;
  border-radius: 30px;
}

.about-us-title {
  margin-bottom: 28px;
}

.about-us-text-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
}

.about-us-text-item:not(:last-child) {
  margin-bottom: 20px;
}

.scroll-to-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 160px;
  height: 48px;
  padding: 15px 38px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  border-radius: 16px;
  transition: background-color 250ms linear;
}

.scroll-to-catalog:hover,
.scroll-to-catalog:focus {
  background-color: #1f3cd4;
}

@media only screen and (min-width: 768px) {
  .about-us {
    padding-top: 80px;
  }

  .about-us-container {
    row-gap: 40px;
  }

  .about-us-text-block {
    padding: 80px 60px;
  }

  .about-us-text-list {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-us {
    padding-top: 100px;
  }

  .about-us-container {
    flex-direction: row;
    column-gap: 40px;
  }

  .about-us-text-list {
    margin-bottom: 40px;
  }

  .about-us-text-block {
    max-width: 580px;
  }
}
/* =========== /About Us Section styles =========== */

/* =========== Catalog Section styles =========== */
.catalog {
  padding-top: 60px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 40px;
}

.catalog-list-item {
  display: flex;
  flex-direction: column;
  padding: 24px 28px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
}

.catalog-list-img-wrapper {
  padding: 18px 36px;
  margin-bottom: 10px;
}

.catalog-list-img {
  max-width: 208px;
  height: 226px;
}

.catalog-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.catalog-list-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

@media only screen and (max-width: 767px) {
  .catalog-list-item.is-hidden {
    display: none;
  }

  .catalog-show-btn {
    display: block;
    min-width: 160px;
    height: 48px;
    padding: 15px 44px;
    border: none;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #3350e9;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
    transition: background-color 250ms linear;
  }

  .catalog-show-btn:hover,
  .catalog-show-btn:focus {
    background-color: #1f3cd4;
  }
}

@media only screen and (min-width: 768px) {
  .catalog {
    padding-top: 80px;
  }

  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
    margin-bottom: 0;
  }

  .catalog-list-item {
    flex-basis: calc((100% - 16px) / 2);
    padding: 24px 31px;
  }

  .catalog-list-img-wrapper {
    padding: 10px 6px;
  }

  .catalog-list-img {
    max-width: 268px;
    height: 292px;
  }

  .catalog-list-title {
    font-size: 20px;
    line-height: 1;
  }

  .catalog-show-btn {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .catalog {
    padding-top: 100px;
  }

  .catalog-list {
    column-gap: 23px;
  }

  .catalog-list-item {
    flex-basis: calc((100% - 46px) / 3);
  }

  .catalog-list-img {
    max-width: 292px;
    margin-bottom: 24px;
  }
}
/* =========== /Catalog Section styles =========== */

/* =========== Advertisement Section styles =========== */
.advertisement {
  padding-top: 60px;
}

.ad-block {
  padding: 60px 28px;
  background-color: #0c0c0c;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/advertisement/bg-ad-mobile.png');
  background-size: cover;
  margin: 0 auto;
}

.ad-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.accent-color-ad {
  color: rgba(251, 251, 251, 0.5);
}

.scroll-to-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 160px;
  height: 48px;
  padding: 15px 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  transition: color 250ms linear, background-color 250ms linear;
}

.scroll-to-contact:hover,
.scroll-to-contact:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .ad-block {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/advertisement/bg-ad-mobile@2x.png');
  }
}

@media only screen and (min-width: 768px) {
  .advertisement {
    padding-top: 80px;
  }

  .ad-block {
    padding: 80px 64px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/advertisement/bg-ad-tablet.png');
  }

  .ad-text {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 32px;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .ad-block {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/advertisement/bg-ad-tablet@2x.png');
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement {
    padding-top: 100px;
  }

  .ad-block {
    display: flex;
    justify-content: space-between;
    padding: 83px 80px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/advertisement/bg-ad-desktop.png');
  }

  .ad-text {
    max-width: 726px;
    margin-bottom: 0;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1280px) {
  .ad-block {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/advertisement/bg-ad-desktop@2x.png');
  }
}
/* =========== /Advertisement Section styles =========== */

/* =========== Sale Section styles =========== */
.sale {
  padding-top: 60px;
}

.sale-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sale-img-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sale-img-list {
  display: flex;
  column-gap: 5px;
}

.sale-img-item {
  padding: 13px 14px;
  line-height: 0;
  flex-basis: calc((100% - 15px) / 4);
}

.sale-img-photo {
  width: 52px;
  height: 54px;
}

.sale-main-photo-wrapper {
  padding: 50px;
}

.sale-text-block {
  padding: 48px 28px;
  border-radius: 30px;
  background-color: #3350e9;
}

.sale-text-block-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-price-list {
  display: flex;
  align-items: center;
  column-gap: 9px;
  margin-bottom: 28px;
}

.sale-price-item:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  min-width: 68px;
  height: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: rgba(251, 251, 251, 0.1);
}

.sale-price-item:last-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-text-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.sale-features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.sale-features-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .sale {
    padding-top: 80px;
  }

  .sale-wrapper {
    row-gap: 40px;
  }

  .sale-img-block {
    flex-direction: row;
    column-gap: 20px;
  }

  .sale-img-list {
    flex-direction: column;
    row-gap: 10px;
  }

  .sale-img-item {
    width: 132px;
    padding: 16px 18px;
  }

  .sale-img-photo {
    width: 96px;
    height: 100px;
  }

  .sale-main-photo-wrapper {
    padding: 80px 112px;
  }

  .sale-text-block {
    padding: 60px;
    border-radius: 50px;
  }

  .sale-text-block-title {
    max-width: 440px;
    font-size: 32px;
    line-height: 1.13;
  }

  .sale-price-list {
    margin-bottom: 30px;
  }

  .sale-price-item:first-child {
    min-width: 78px;
    font-size: 20px;
    line-height: 1;
  }

  .sale-text-descr {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .sale-features-list {
    max-width: 398px;
  }

  .sale-features-item {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media only screen and (min-width: 1280px) {
  .sale {
    padding-top: 100px;
  }

  .sale-wrapper {
    flex-direction: row;
    column-gap: 40px;
  }

  .sale-main-photo-wrapper {
    min-width: 428px;
    padding: 80px 50px;
  }
}
/* =========== /Sale Section styles =========== */

/* =========== Reviews Section styles =========== */
.reviews {
  padding-top: 60px;
}

.reviews-list {
  display: flex;
}

.reviews-list-img {
  margin-bottom: 24px;
}

.reviews-list-fullname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.reviews-list-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

@media only screen and (max-width: 767px) {
  .reviews-list-item {
    display: none;
  }

  .reviews-list-item.is-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 36px;
    border-radius: 30px;
    background-color: #f3f3f3;
  }
}

@media only screen and (min-width: 768px) {
  .reviews {
    padding-top: 80px;
  }

  .reviews-list {
    column-gap: 16px;
  }

  .reviews-list-item {
    flex-basis: calc((100% - 16px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 36px;
    border-radius: 30px;
    background-color: #f3f3f3;
  }

  .reviews-list-fullname {
    font-size: 18px;
    line-height: 1.1;
  }

  .reviews-list-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-list-item.is-hidden {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews {
    padding-top: 100px;
  }

  .reviews-list {
    column-gap: 20px;
  }

  .reviews-list-item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
/* =========== /Reviews Section styles =========== */

/* =========== Contact us Section styles =========== */
.contact-us {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-us-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-us-form-block {
  display: flex;
  flex-direction: column;
  padding: 48px 28px;
  border-radius: 30px;
  background-color: #f3f3f3;
}

.contact-us-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

.contact-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 18px;
  transition: border-color 250ms linear;
}

.contact-textarea {
  width: 100%;
  height: 84px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  background-color: transparent;
  resize: none;
  font-size: 14px;
  margin-bottom: 28px;
  transition: border-color 250ms linear;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
  color: #0c0c0c;
}

.contact-input:focus-within,
.contact-textarea:focus-within {
  border-color: #3350e9;
  outline: transparent;
}

.contact-btn {
  display: block;
  min-width: 134px;
  height: 42px;
  border: none;
  border-radius: 16px;
  padding: 12px 50px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  transition: background-color 250ms linear;
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #1f3cd4;
}

@media only screen and (min-width: 768px) {
  .contact-us {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .contact-us-wrapper {
    row-gap: 40px;
  }

  .contact-us-form-block {
    padding: 50px 122px;
    border-radius: 50px;
  }

  .contact-us-title {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .contact-input {
    height: 52px;
    padding: 16px;
    font-size: 16px;
  }

  .contact-textarea {
    height: 90px;
    padding: 16px;
    font-size: 16px;
    margin-bottom: 32px;
  }

  .contact-btn {
    min-width: 160px;
    height: 52px;
    padding: 17px 63px;
  }
}

@media only screen and (min-width: 1280px) {
  .contact-us {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contact-us-wrapper {
    flex-direction: row;
    column-gap: 40px;
  }

  .contact-us-form-block {
    padding: 50px 60px;
  }

  .contact-us-img {
    min-width: 530px;
  }
}
/* =========== /Contact us Section styles =========== */

/* =========== Footer styles =========== */
.footer {
  padding-bottom: 20px;
}

.footer-container {
  max-width: 335px;
  padding: 40px 28px 28px 28px;
  margin: 0 auto;
  position: relative;
  background-color: #0c0c0c;
  border-radius: 30px;
}

.footer-first-block {
  padding-top: 177px;
  padding-bottom: 92px;
}

.footer-logo-block {
  position: absolute;
  top: 40px;
  left: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer-logo {
  color: #fbfbfb;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  line-height: 0;
  fill: #fbfbfb;
  opacity: 0.8;
  transition: fill 250ms linear, opacity 250ms linear;
}

.footer-social-link:hover,
.footer-social-link:focus {
  fill: #fbfbfb;
  opacity: 1;
}

.footer-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.footer-second-block {
  display: flex;
  column-gap: 49px;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  padding-bottom: 24px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  min-width: 147px;
  column-gap: 16px;
  row-gap: 8px;
}

.footer-menu-link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}

.footer-address {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}

.footer-third-block {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer-copyright {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}

.footer-info-list {
  display: flex;
  column-gap: 20px;
}

.footer-info-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}

@media only screen and (max-width: 767px) {
  .footer-phone {
    position: absolute;
    top: 133px;
    left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    min-width: 152px;
    height: 44px;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-bottom: 32px;
  }

  .footer-container {
    max-width: 704px;
    padding: 40px 40px 28px 40px;
  }

  .footer-first-block {
    padding: 166px 50px 100px 50px;
  }

  .footer-logo-block {
    left: 40px;
  }

  .footer-social-link {
    width: 36px;
    height: 36px;
  }

  .footer-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .footer-second-block {
    column-gap: 62px;
    padding-bottom: 28px;
  }

  .footer-menu {
    flex-wrap: nowrap;
    min-width: 400px;
    column-gap: 19px;
  }

  .footer-menu-link {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-address {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-phone {
    position: absolute;
    top: 40px;
    right: 40px;
    min-width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
  }

  .footer-third-block {
    padding-top: 28px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-info-link {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 32px;
  }

  .footer-container {
    max-width: 1216px;
  }

  .footer-first-block {
    padding: 0 306px 126px 306px;
  }

  .footer-second-block {
    column-gap: 469px;
  }

  .footer-menu {
    min-width: 505px;
    column-gap: 40px;
  }
}
/* =========== /Footer styles =========== */

/* =========== Menu styles =========== */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1280px) {
}
/* =========== /Menu styles =========== */
