@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold.woff2') format('woff2'),
    url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* =========== Common styles =========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: #0c0c0c;
  background-color: #fbfbfb;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}

/* =========== /Common styles =========== */

/* =========== Page Header styles =========== */
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

@media only screen and (max-width: 1279px) {
  .menu,
  .social {
    display: none;
  }

  .page-header {
    padding: 20px 0;
  }

  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #0c0c0c;
  }

  .menu-open-btn-icon {
    width: 34px;
    height: 34px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .page-header {
    padding: 26px 0;
  }

  .logo {
    font-size: 20px;
  }

  .menu-open-btn-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .logo {
    font-size: 20px;
  }

  .menu-open-btn {
    display: none;
  }

  .page-nav {
    display: flex;
    width: 820px;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    display: block;
    padding-top: 30px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
  }

  .menu-link.active {
    position: relative;
  }

  .menu-link.active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3350e9;
  }

  .social {
    display: flex;
    gap: 10px;
  }

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    line-height: 0;
    fill: #0c0c0c;
    transition: fill 250ms linear, border 250ms linear;
  }

  .social-link:hover,
  .social-link:focus {
    fill: #3350e9;
    border: 1px solid rgba(51, 80, 233, 0.1);
  }
}
/* =========== /Page Header styles =========== */

/* =========== Hero Section styles =========== */
.hero {
  padding-top: 60px;
}

.hero-top-block {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  margin-bottom: 28px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.accent-color {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-second-block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero-reviews-list {
  display: flex;
  position: relative;
}

.hero-reviews-list-item,
.hero-reviews-avatar {
  width: 44px;
  height: 44px;
}

.hero-reviews-list-item:nth-child(3n + 2) {
  position: absolute;
  top: 0;
  left: 32px;
}

.hero-reviews-list-item:nth-child(3n + 3) {
  position: absolute;
  top: 0;
  left: 64px;
}

.scroll-down-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
  }

  .hero-top-block {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .hero-text-block {
    max-width: 557px;
    margin-right: auto;
  }

  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-text {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-second-block {
    width: 136px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .hero-reviews-list-item,
  .hero-reviews-avatar {
    width: 56px;
    height: 56px;
  }

  .hero-reviews-list-item:nth-child(3n + 2) {
    left: 41px;
  }

  .hero-reviews-list-item:nth-child(3n + 3) {
    left: 80px;
  }

  .scroll-down-link {
    align-self: flex-end;
    font-size: 20px;
    line-height: 1;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-text-block {
    max-width: 597px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 0.88;
  }

  .hero-second-block {
    width: 146px;
  }

  .hero-reviews-list-item,
  .hero-reviews-avatar {
    width: 60px;
    height: 60px;
  }

  .hero-reviews-list-item:nth-child(3n + 2) {
    left: 44px;
  }

  .hero-reviews-list-item:nth-child(3n + 3) {
    left: 86px;
  }
}
/* =========== /Hero Section styles =========== */

/* =========== About Us Section styles =========== */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1280px) {
}
